<div>
    <h5>Comment by <%= comment.author_name %></h5>
    <p class="comment"><%= comment.body %></p>
    <p>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %></p>
</div>